{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "syntax-flow",
    "transform-flow-strip-types",
    "transform-class-properties",
    "transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "presets": ["es2015"],
      "plugins": [
        "syntax-flow",
        "transform-flow-strip-types",
        "transform-class-properties",
        "transform-object-rest-spread"
      ]
    }
  }
}
